/*cssمربوط به قسمت  اول هدر*/
.header {
  width: 100%;
  position: sticky; /*برای اینکه هدر در بالای صفحه فیکس شود و با اسکرول کردن صفحه جا بجا نشود*/
  top: 0;
  background-color:white;
}

.first-header-menu {
  display: flex;
  justify-content:space-between;
}

.first-header-menu-right {  
  display: flex;
  align-items: center;
  gap:0px 2px;
}

.first-header-menu-left {
  display: flex;
}

.first-header-menu-left ul {
  display: flex;
  margin-top:.5rem;
}

.first-header-menu-left ul li {
  margin:0 2px;
  padding: 5px 6px;
  font-family: "nassim";
}

.first-header-menu-left ul li:hover {
  background-color: rgba(0, 0, 0, .1);
}

.first-header-menu-left ul li a {
  color:#222;
  font-size: .9rem;
  font-weight: bold;
}

.search {
  outline: none;
  border: none;
  background-color: transparent;
}

.search-box {
  background-color: hsl(0, 17%, 91%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 5px;
  padding:5px 10px 5px 5px;
  width:100%;
}


.date-time ul {
  display:flex;
  align-items: center;
  padding: 5px;
    
}

.date-time ul li { 
  padding: 3px;
  line-break:nowrap;
}

.date-time {
  font-family: nassim;
  font-size: .8rem;
  color: #222;
}

.form-btn {
  position: relative;  
}

.form-input {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .15)
}

.form-input input {
  margin-bottom: 0.5rem;
  color: #555;
  padding: 5px 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .15);   
}

.form-input-text:focus {
  outline: none;
  box-shadow: 0 0 15px 3px  rgba(155, 17, 17, 0.3);
  border: 1px solid #ae1717;
}

.checkbox {
  margin-top: 1rem;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 0 5px;    
}

.checkbox :hover {
  cursor: pointer;
}

.checkbox-style {
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow:  inset 0 1px 2px #fff, 0 1px 2px rgba(0, 0, 0, 0.2); 
}

.checkbox-style:hover { 
  background-color: rgba(0, 0, 0, .1);
} 

input[type="checkbox"] {/*مربوط به قسمت چک باکس که خود باکس می باشد*/
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #dbd8d8;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

input[type="checkbox"]:checked {/*چک با کس وقتی تیک خورد  بک گرند تغییر رنگ بدهد*/
  border-color:rgb(155, 46, 46) 
}

input[type="checkbox"]:checked::after { /* چک باکس وقتی چک شد محتوای داخلش به این صورت یک علامت تیک قرار بگیرد */
  content: "✔"; 
  position: absolute;
  bottom: -3px;
  left: 1px;
  font-size: 15px;
  padding-top: 1px;
  color: #555;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.submit-1 {
  background-color:#bb1818;
  border:1px solid#ae1717 ;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
}

.submit-1:hover {
  background-color: rgb(148, 15, 15);
}

.submit-2 {
  color: #333;
  background-color: #fff;
  border:1px solid #ccc;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;

}

.submit-2:hove {
  background-color: rgba(0, 0, 0, .1);
}

.dropdown {
  background-color:#656565;
  color:#ffffffff;
  border: none;
  border-radius: 1px;
  font-weight: bold;
  padding: 8px 5px;
  display: flex;
  gap: 0 5px;  
}

@media screen  and (max-width:1200px) {

  .first-header-menu-scroll { 
    display: none;
  } 
}

@media screen  and (max-width:767px) {
  .header {
    position: static;
  }
  .search-box {
    display: none ;
  }
    
  .first-header-menu-scroll {
    display: flex;
    width: 400px;
    overflow: scroll ;
    white-space: nowrap;
    margin-right: 20px;
    width: 250px;
    scrollbar-width: none;
  }

  .date-time {
    display: none;
  }

  .dropdown {
    line-break: nowrap;
  } 
}

@media screen  and (max-width:425px) {
  .header {
    position: static;
  }

  .first-header-menu-scroll { 
    margin-right: 20px;
    width: 200px;
  }
  .dropdown {
    line-break: nowrap;
  }    
}








